.div57 p
{
width: 568px;
height: 110px;

text-align: center;

font-size: 50px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div57

{
position: absolute;
overflow: hidden;
left: 14px;
top: 14px;

}
.div58 p
{
width: 180px;
height: 342px;

text-align: left;

font-size: 12px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div58

{
position: absolute;
overflow: hidden;
left: 14px;
top: 135px;

}
.div59 p
{
width: 187px;
height: 184px;

text-align: left;

font-size: 12px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div59

{
position: absolute;
overflow: hidden;
left: 208px;
top: 293px;

}
.div60 img
{
display: block;
width: 174;
height: 185;
overflow: hidden;
}
.div60

{
position: absolute;
overflow: hidden;
left: 408px;
top: 292px;

}
.div61 img
{
display: block;
width: 288;
height: 172;
overflow: hidden;
}
.div61

{
position: absolute;
overflow: hidden;
left: 14px;
top: 491px;

}
.div62 p
{
width: 258px;
height: 169px;

text-align: left;

font-size: 12px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div62

{
position: absolute;
overflow: hidden;
left: 321px;
top: 494px;

}
.div63 img
{
display: block;
width: 175;
height: 142;
overflow: hidden;
}
.div63

{
position: absolute;
overflow: hidden;
left: 215px;
top: 139px;

}
.div64 p
{
width: 172px;
height: 140px;

text-align: left;

font-size: 12px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div64

{
position: absolute;
overflow: hidden;
left: 410px;
top: 140px;

}
.div65 img
{
display: block;
width: 131;
height: 151;
overflow: hidden;
}
.div65

{
position: absolute;
overflow: hidden;
left: 250px;
top: 676px;

}
.div66 p
{
width: 193px;
height: 159px;

text-align: left;

font-size: 11px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div66

{
position: absolute;
overflow: hidden;
left: 387px;
top: 662px;

}
.div67 p
{
width: 226px;
height: 158px;

text-align: left;

font-size: 11px;

font-family: Arial;
word-wrap: break-word;
overflow: hidden;

}

.div67

{
position: absolute;
overflow: hidden;
left: 15px;
top: 661px;

}
