.div192 p
{
width: 484px;
height: 183px;

text-align: center;

font-size: 80px;

font-family: Lucida Sans Unicode;
word-wrap: break-word;
overflow: hidden;

}

.div192

{
position: absolute;
overflow: hidden;
left: 56px;
top: 56px;

}
.div193 img
{
display: block;
width: 290;
height: 175;
overflow: hidden;
}
.div193

{
position: absolute;
overflow: hidden;
left: 250px;
top: 250px;

}
.div194 p
{
width: 287px;
height: 163px;

text-align: left;

font-size: 12px;

font-family: Lucida Sans Unicode;
word-wrap: break-word;
overflow: hidden;

}

.div194

{
position: absolute;
overflow: hidden;
left: 253px;
top: 444px;

}
.div195 img
{
display: block;
width: 185;
height: 81;
overflow: hidden;
}
.div195

{
position: absolute;
overflow: hidden;
left: 56px;
top: 528px;

}
.div196 img
{
display: block;
width: 137;
height: 156;
overflow: hidden;
}
.div196

{
position: absolute;
overflow: hidden;
left: 258px;
top: 630px;

}
.div197 p
{
width: 134px;
height: 173px;

text-align: right;

font-size: 10px;

font-family: Lucida Sans Unicode;
word-wrap: break-word;
overflow: hidden;

}

.div197

{
position: absolute;
overflow: hidden;
left: 406px;
top: 613px;

}
.div198 p
{
width: 188px;
height: 164px;

text-align: left;

font-size: 10px;

font-family: Lucida Sans Unicode;
word-wrap: break-word;
overflow: hidden;

}

.div198

{
position: absolute;
overflow: hidden;
left: 56px;
top: 622px;

}
.div199 p
{
width: 200px;
height: 271px;

text-align: left;

font-size: 12px;

font-family: Lucida Sans Unicode;
word-wrap: break-word;
overflow: hidden;

}

.div199

{
position: absolute;
overflow: hidden;
left: 33px;
top: 240px;

}
